{% extends 'layout.twig' %}

{% block title %}
	Commentaires en attente de validation
{% endblock title %}

{% block content %}
	
	{% if comments is empty %}
		<p>Il n'y a pas de commentaire(s) en attente de validation.</p>
	{% endif %}
	
	{% for comment in comments %}
		
		<p>Commentaire du {{ comment.c_date }}, à {{ comment.c_hour }}h{{ comment.c_minute }} - par {{ comment.author }} :</p>
		{{ comment.text }}
		
		<p><a class="btn btn-danger" href="index.php?controller=comment&action=delete&id={{ comment.id }}&token={{ csrf_token() }}">Supprimer</a>
			<a class="btn btn-success" href="index.php?controller=comment&action=validate&id={{ comment.id }}&token={{ csrf_token() }}">Valider et publier</a></p>
	
	{% endfor %}

{% endblock content %}