{% extends 'layout.twig' %}

{% block title %}
	Ajouter un billet
{% endblock title %}

{% block content %}
	
	<div class="col-auto col-md-10 mt-4">
		<form method="post" action="index.php?controller=post&action=edit&id={{ post.id }}">
			<div class="mb-3">
				<label for="title" class="form-label">Titre</label>
				<input type="text" class="form-control" name="title" value="{{ post.title }}" required/>
			</div>
			<div class="mb-3">
				<label for="author" class="form-label">Auteur</label>
				<input type="text" class="form-control" name="author" value="{{ post.author }}" required/>
			</div>
			<div class="mb-3">
				<label for="message" class="form-label">Contenu du billet</label>
				<textarea name="message" class="form-control" rows="15" required>{{ post.message }}</textarea>
			</div>
			<input type="hidden" name="token" id="token" value="{{ csrfToken() }}"/>
			<button type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>

{% endblock content %}