{% if session.user is defined %}
	{% set user = session.user %}
{% endif %}


<!DOCTYPE html>

<html lang="fr">

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/media_queries.css"/>
	<script src="https://kit.fontawesome.com/28959e4cf7.js" crossorigin="anonymous"></script>
	
	<title>Bienvenue sur mon blog !</title>
	{% block head %}
	{% endblock head %}
</head>

<body>

<header>
	<input id="menu-checkbox" type="checkbox" class="menu-checkbox"/>
	<label for="menu-checkbox" class="menu-toggle">&equiv;</label>
	
	<nav class="navbar navbar-expand-lg bg-dark px-2 mb-3" id="menu">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="index.php">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="index.php?controller=post&action=index">Blog</a>
			</li>
			
			{% if disconnected is not defined and user.role is same as ('admin') or user.role is same as ('publisher') %}
				<li>
					<a class="nav-link" href="index.php?controller=comment&action=show_pending">Commentaires att. validation</a>
				</li>
				<li>
					<a class="nav-link" href="index.php?controller=page&action=show_add">Ajouter un billet </a>
				</li>
			{% endif %}
		</ul>
		
		<ul class="navbar-nav ms-auto">
			{% if disconnected is not defined and user.id is defined %}
				<span class="navbar-text text-white-50">
      			Connecté en tant que {{ user.pseudo }} ({{ user.role | trans }})
    		</span>
				<li>
					<a class="nav-link" href="index.php?controller=account&action=disconnect">Se déconnecter</a>
				</li>
			{% else %}
				<li>
					<a class="nav-link" href="index.php?controller=account&action=show_register">Créer un compte</a>
				</li>
				<li>
					<a class="nav-link" href="index.php?controller=account&action=show_connection">Se connecter</a>
				</li>
			{% endif %}
		</ul>
	
	</nav>
</header>

<h1 class="mb-4">
	{% block title %}
	{% endblock title %}
</h1>

{% if message %}
	<p class="text-info">{{ message|raw }}</p>
{% endif %}

{% block content %}

{% endblock content %}

<div class="fill">
</div>

<footer class="bg-link text-center mt-4">
	<div class="container p-3">
		<section class="mb-2">
			<li class="list-inline-item">
				<a href="https://www.linkedin.com/in/deperne-cedric/" target="_blank">
                  <span class="fa-stack fa-lg" id="linkedin">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
				</a>
			</li>
			<li class="list-inline-item">
				<a href="https://github.com/Drx85" target="_blank">
                  <span class="fa-stack fa-lg" id="github">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
				</a>
			</li>
		</section>
		
		<section class="mb-4">
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-4">
					<h5 class="text-uppercase mb-3">Compte</h5>
					
					<ul class="list-unstyled mb-0">
						{% if disconnected is not defined and user.id is defined %}
							<li class="text-muted">
								Connecté en tant que {{ user.pseudo }}({{ user.role | trans }})
							</li>
							<li>
								<a class="text-dark" href="index.php?controller=account&action=disconnect">Se déconnecter</a>
							</li>
						{% else %}
							<li>
								<a class="text-dark" href="index.php?controller=account&action=show_register">Créer un compte</a>
							</li>
							<li>
								<a class="text-dark" href="index.php?controller=account&action=show_connection">Se connecter</a>
							</li>
						{% endif %}
					</ul>
				</div>
				
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-4">
					<h5 class="text-uppercase mb-3">Contact</h5>
					
					<ul class="list-unstyled mb-0">
						<li>
							<a href="mailto:cedric@deperne.fr" class="text-dark">cedric@deperne.fr</a>
						</li>
						<li>
							<a href="tel:+33601234567" class="text-dark">06 01 23 45 67</a>
						</li>
						<li>
							<a href="http://www.deperne.fr/" class="text-dark">www.deperne.fr</a>
						</li>
					</ul>
				</div>
				
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-4">
					<h5 class="text-uppercase mb-3">Navigation</h5>
					
					<ul class="list-unstyled mb-0">
						<li>
							<a href="index.php" class="text-dark">Accueil</a>
						</li>
						<li>
							<a href="index.php?controller=post&action=index" class="text-dark">Blog</a>
						</li>
						{% if disconnected is not defined and user.role is same as ('admin') or user.role is same as ('publisher') %}
							<li>
								<a href="index.php?controller=comment&action=show_pending" class="text-dark">Commentaires att. validation</a>
							</li>
							<li>
								<a href="index.php?controller=page&action=show_add" class="text-dark">Ajouter un billet </a>
							</li>
						{% endif %}
					</ul>
				</div>
				
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-4">
					<h5 class="text-uppercase mb-3">A propos</h5>
					
					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-dark">Conditions Générales d'Utilisation</a>
						</li>
						<li>
							<a href="#!" class="text-dark">Mentions légales</a>
						</li>
						<li>
							<a href="#!" class="text-dark">Plan du site</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</footer>

</body>
</html>

