{% extends 'layout.twig' %}

{% block title %}
	Blog
{% endblock title %}

{% block content %}
	
	{% if session.user.role is same as ('admin') or session.user.role is same as ('publisher') %}
		<p><a class="btn btn-success" href="index.php?controller=page&action=show_add">Ajouter un billet </a></p>
	{% endif %}
	
	<h2 class="mb-4">Les derniers billets</h2>
	
	<div class="row">
	{% for post in blog %}
		
		<div class="col-4 mb-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">{{ post.title }}</h3>
					<h4 class="card-title">Posté le {{ post.post_date }} à {{ post.hour_post_time }}h{{ post.minute_post_time }}
						
						{% if post.update_date %}
							(dernière modification le {{ post.update_date }}),
						{% endif %}
						par : {{ post.author }}
					</h4>
					<p class="card-text">
						{{ post.message | u.truncate(400, '...', false) | nl2br }}
						<a href="index.php?controller=post&action=show&id={{ post.id }}" class="text-decoration-none"> Lire la suite</a>
					</p>
					
					{% if session.user.role is same as ('admin') or session.user.role is same as ('publisher') %}
						<p><a class="btn btn-danger" href="index.php?controller=post&action=delete&id={{ post.id }}">Supprimer</a>
							<a class="btn btn-secondary" href="index.php?controller=page&action=show_edit&id={{ post.id }}">Modifier</a></p>
					{% endif %}
					
					{% set counter = ( counter | default(-1) ) + 1 %}
					
					{% set displayNb = (comments_number[counter].number_of_comments) %}
					
					{% if displayNb %}
						<p><a href="index.php?controller=post&action=show&id={{ post.id }}" class="text-decoration-none">Voir les commentaires ({{ displayNb }})</a></p>
					{% else %}
						<p><a href="index.php?controller=post&action=show&id={{ post.id }}" class="text-decoration-none">Il n'y a pas de commentaire sur ce billet. Cliquez ici pour en ajouter un.</a></p>
					{% endif %}
				</div>
			</div>
		</div>
	
	{% endfor %}
	</div>

	<nav>
		<ul class="pagination justify-content-center">
			{% for key, page in array_pages %}
				<li class="page-item"><a class="page-link" href="index.php?controller=post&action=index&page={{ page }}">{{ page }}</a></li>
			{% endfor %}
		</ul>
	</nav>

{% endblock content %}