{% extends 'layout.twig' %}

{% block title %}
	Article : {{ post.title }}
{% endblock title %}

{% block content %}
	
	<h2>Détails et commentaires</h2>
	
	<p>
		Posté le {{ post.date }} à {{ post.hour }}h{{ post.minute }}
		{% if post.update_date %}
			(dernière modification le {{ post.update_date }})
		{% endif %}
		par : {{ post.author }}
	</p>
	
	<p> {{ post.message | nl2br }} </p>
	
	<h3>Commentaires :</h3>
	
	{% for comment in comments %}
		
		<p>Commentaire du {{ comment.c_date }}, à {{ comment.c_hour }}h{{ comment.c_minute }} - par {{ comment.author }} :</p>
		{{ comment.text }}
		
		{% if session.role is same as ('admin') or session.role is same as ('publisher') %}
			<p><a href="index.php?controller=comment&action=delete&id={{ comment.id }}">Supprimer ce commentaire</a></p>
		{% endif %}
	
	{% endfor %}
	
	
	{% if session.user_id %}
		<h4>Ajouter un commentaire</h4>
		<form method="post" action="index.php?controller=comment&action=send&id_post={{ post.id }}">
			<label for="user_comment">Votre commentaire : <br/></label> <textarea name="user_comment" rows="3" cols="80"></textarea> <br/>
			<input type="submit"/>
		</form>
	{% endif %}
	
	<p><a href="index.php?controller=post&action=index">Retour à la liste des billets</a></p>

{% endblock content %}