{% extends 'layout.twig' %}

{% block title %}
	Article : {{ post.title }}
{% endblock title %}

{% block content %}
	
	<p><a href="index.php?controller=post&action=index" class="text-decoration-none"><i class="far fa-arrow-alt-circle-left"></i> Retour à la liste des billets</a></p>
	
	<h2>Détails et commentaires</h2>
	
	<p class="mb-4 mt-3 fs-5 fw-light">
		Posté le {{ post.date }} à {{ post.hour }}h{{ post.minute }}
		{% if post.updateDate %}
			(dernière modification le {{ post.updateDate }})
		{% endif %}
		par : {{ post.author }}
	</p>
	
	<p>{% apply markdown_to_html %} {{ post.message }} {% endapply %}</p>
	
	<h3 class="mt-5 mb-4">Commentaires :</h3>
	
	{% for comment in comments %}
		
		<p>Commentaire du {{ comment.date }}, à {{ comment.hour }}h{{ comment.minute }} - par {{ comment.author }} :</br>
			{{ comment.text }}</p>
		
		{% if user.role is same as ('admin') or user.role is same as ('publisher') %}
			<p><a class="btn btn-danger" href="index.php?controller=comment&action=delete&id={{ comment.id }}&token={{ csrf_token() }}" onclick="return confirm('Confirmer la suppression ?')">Supprimer</a></p>
		{% endif %}
	
	{% endfor %}
	
	{% if user.pseudo %}
		<h4>Ajouter un commentaire</h4>
		
		<div class="col-10 mt-4">
			<form method="post" action="index.php?controller=comment&action=send&id_post={{ post.id }}">
				<div class="mb-3">
					<label for="user_comment" class="form-label">Votre commentaire :</label>
					<textarea name="user_comment" class="form-control" rows="3" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Envoyer</button>
			</form>
		</div>
	{% endif %}

{% endblock content %}